body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: url('./image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
}

.link-group {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.icon {
  color: white;
  text-decoration: none;
  font-size: 36px;
  opacity: 0.5;
  margin: 5px;
}

.icon:hover{
  opacity: 1;
}
